* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #090a0c;
    color: #e3e5e9;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    overflow: hidden;
}

button {
    border: none;
    outline: none;
}

nav {
    display: flex;
    align-self: center;
    gap: 20px;
}

nav > button {
    width: 100px;
    padding: 5px;
    z-index: 1000;
    border-radius: 5px;
    color: #e3e5e9;
    background-color: #8e718e;
}

nav > button:hover {
    background-color: #524658;
    cursor: pointer;
    transition: 200ms;
}

#info-student {
    display: grid;
    width: 100%;
    grid-template: repeat(4, max-content) / repeat(3, 15%);
    gap: 25px;
    align-content: center;
    justify-content: center;
    height: 100%;
}

#table-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #090a0c;
}

#table-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #090a0c;
}

#form-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #090a0c;
}

label {
    width: 200px;
    text-align: left;
}

.form-1-childs > div {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

#form-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #090a0c;
}

.form-2-childs > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    padding: 10px;
}

#css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #090a0c;
}

#css-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 50%;
}

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: #8e718e;
}

.info {
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2.5px solid #524658;
    border-radius: 8px;
    padding: 15px;
    text-align: justify;
    line-height: 140%;
}

.photo {
    grid-area: 1 / 1 / 4 / 2;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    filter: sepia(1) hue-rotate(230deg);
}

footer {
    align-self: center;
}

.info.quote {
    grid-area: 4 / 1;
}

td {
    border: 1px solid white;
}

.table {
    width: 40%;
    height: 40%;
}
